<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block tittle %}{% endblock tittle %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block topfiles %} {% endblock topfiles %}

</head>
<body>
{% block header_con %}
	<div class="header_con">

		<div class="header">
			<div class="welcome fl">欢迎来到iship图片收集网站</div>
			<div class="fr">
                {% if user.is_authenticated %}
				<div class="login_btn fl">
					欢迎您：<em>{{ user.username }}</em>
                    <span>|</span>
					<a href="{% url 'user:logout' %}">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="{% url 'user:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'user:register' %}">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user' %}">用户中心</a>
				</div>
			</div>
		</div>		
	</div>
{% endblock header_con %}{# 网页顶部欢迎信息块 #}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="{% url 'plat:index' %}" class="logo fl"><img src="{% static 'images/logo.png'%}"></a>
	</div>
{% endblock search_bar %}{# 网页顶部搜索框 #}
{% block body %}{# 主体内容块 #}
{% endblock body %}
<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2020 哈尔滨工程大学船舶图片收集网站 All Rights Reserved</p>
		<p>电话：18646201718</p>
	</div>
{% block bottom %}{% endblock bottom %}
{% block bottomfiles %}{% endblock bottomfiles %}
</body>
</html>
{# 首页 注册 登录 父模板 #}
