{% extends 'base.html' %}
{% block tittle  %}iship数据集网站首页{% endblock tittle %}
{% load staticfiles %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}

    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">查看未审图片导航</h1>
			<ul class="navlist fl">
				<li><a href="http://www.hrbeu.edu.cn/">哈尔滨工程大学首页</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
		<ul class="subnav fl">
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for banner in goods_banners %}
                    <li><a href="#"> <img src="{{ banner.image.url }}" alt="幻灯片"></a></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for banner in promotion_banners %}
			<a href="{{ banner.url }}"><img src="{{ banner.image.url }}"></a>
            {% endfor %}
		</div>
	</div>
    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<a href="{% url 'plat:list_more' type.id  1 %}" class="goods_more fl" id="fruit_more">{{ type.name }}</a>
			<div class="subtitle fl">
				<span>|</span>
                {% for banner in type.title_banners %}
				<a href={%url 'plat:detail' banner.sku.id %}>{{ banner.sku.name }}</a>
                {% endfor %}
			</div>
        <a href="{% url 'plat:list_more_check' type.id  1 %}" class="goods_more fr" id="fruit_more">查看{{ type.name }}的未审图片</a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image.url}}"></div>
			<ul class="goods_list fl">
                {% for banner in type.image_banners %}
				<li>
					<h4><a>{{ banner.sku.name }}</a></h4>
					<a><img src="{{ banner.sku.image.url }}"></a>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}

{% endblock body %}
